@import '~@angular/material/theming';

@mixin conduit-article-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-article {
    mat-card-title {
      .article__author {
          color: mat-color($foreground, text);
      }  
    }
  }
}