<div class="dummy-article-item">
  <div class="dummy-article-item__header">
    <div class="dummy-article-item__info">
      <div class="dummy-article-item__ava"></div>
      <div class="dummy-article-item__user">
        <div class="dummy-article-item__name"></div>
        <div class="dummy-article-item__date"></div>
      </div>
    </div>
    <div class="dummy-article-item__like"></div>
  </div>
  <div class="dummy-article-item__theme"></div>
  <div class="dummy-article-item__body"></div>
  <div class="dummy-article-item__tags">
    <div></div>
  </div>
  <div class="dummy-article-item__link"></div>
</div>