<div class="articles-list">
  <div class="articles-list__preview"
       [hidden]="isLoading || articlesList.length">
    {{ 'conduit.articlesList.empty' | translate }}.
  </div>

  <div>
    <app-article [article]="article"
                 [locale]="locale"
                 (favorited)="onFavoriteTooggle($event)"
                 *ngFor="let article of articlesList; trackBy: trackArticle"></app-article>

    <div *ngIf="!articlesList.length && isLoading">
      <app-dummy-article-item *ngFor="let d of dummys$ | async; trackBy: trackDummy"></app-dummy-article-item>
    </div>
  </div>
</div>