<mat-card class="comment">
  <mat-progress-bar class="comment__loader"
                    [hidden]="!comment.isDeleting"
                    mode="indeterminate">
  </mat-progress-bar>
  <mat-card-content>
    <p>
      {{comment.body}}
    </p>
    <mat-icon [ngStyle]="{'opacity': comment.isDeleting ? 0.5 : 1}"
              [hidden]="!canModify"
              class="comment__delete"
              (click)="deleteComment()"
              aria-label="delete">delete</mat-icon>
  </mat-card-content>
  <mat-card-header>
    <div mat-card-avatar
         class="comment__avatar">
      <a [routerLink]="['/profile', comment.author.username]">
        <div>
          <img [src]="comment.author.image"
               appAvatar
               [attr.alt]="comment.author.username">
        </div>
      </a>
    </div>
    <mat-card-title>
      <a class="comment__author"
         [routerLink]="['/profile', comment.author.username]">{{ comment.author.username }}</a>
    </mat-card-title>
    <mat-card-subtitle>
      {{ comment.createdAt | date: 'short' : '' : locale }}
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>