<form [formGroup]="form"
      #f="ngForm"
      [appAccentOnInvalidFromField]="form"
      (ngSubmit)="submit()">

  <div class="card-block">
    <mat-form-field class="input-full-width">
      <textarea matInput
                rows="3"
                formControlName="comment"
                placeholder="{{ 'conduit.commentForm.placholder' | translate}}...">
        </textarea>
      <mat-error *ngIf="requiredComment"
                 [innerHTML]="'conduit.error.comment.body.required' | translate">
      </mat-error>
      <mat-progress-bar class="comment__add-loader"
                        [hidden]="!submitting"
                        mode="indeterminate">
      </mat-progress-bar>
    </mat-form-field>
  </div>
  <div class="comments__footer">
    <div>
      <img [src]="user.image"
           appAvatar
           class="comment-author-img" />
      {{ user.username }}
    </div>
    <button [disabled]="submitting"
            mat-flat-button
            color="primary"
            type="submit">
      {{ 'conduit.commentForm.button' | translate}}
    </button>
  </div>
</form>