.password-strength {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  position: absolute;
  right: -12px;
  bottom: 5px;
  width: 11px;

  div {
    width: 100%;
    height: 3px;
    margin-top: 3px;
    &:last-child {
      margin-top: 0;
    }
  }
}

.worst-pass {
  div {
    background-color: #f44336;
  }
}

.bad-pass {
  div {
    background-color: #f0d333;
  }
}

.weak-pass {
  div {
    background-color: #ff9800;
  }
}

.good-pass {
  div {
    background-color: #36bf3b;
  }
}

.strong-pass {
  div {
    background-color: #673ab7;
  }
}
