<div class="auth-page page">
  <div class="container">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1>{{ title$ | async }}</h1>
        <p>
          <a [routerLink]="['/login']"
             *ngIf="authType === 'register'">Have an account?</a>
          <a [routerLink]="['/register']"
             *ngIf="authType === 'login'">Need an account?</a>
        </p>

        <app-list-error [errors]="authErrors$ | async"></app-list-error>

        <app-auth-from [authType]="authType$ | async"
                       [isSubmitting]="isSubmitting$ | async"
                       (submitForm)="submitForm($event)"></app-auth-from>
      </div>

    </div>
  </div>
</div>