<div class="auth-page page">
  <div class="container">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1>{{ title$ | async | translate }}</h1>

        <p *ngIf="(authType$ | async) as authType">
          <a [routerLink]="['/login']"
             *ngIf="authType === 'register'">{{ 'conduit.auth.sinup.caption' | translate }}</a>
          <a [routerLink]="['/register']"
             *ngIf="authType === 'login'">{{ 'conduit.auth.sigin.caption' | translate }}</a>
        </p>

        <app-list-error [errors]="authErrors$ | async"></app-list-error>

        <app-auth-from [authType]="authType$ | async"
                       [isSubmitting]="isSubmitting$ | async"
                       (submitForm)="submitForm($event)"></app-auth-from>
      </div>

    </div>
  </div>
</div>