<div class="article-page">
  <app-article-full *ngIf="(article$ | async)"
                    [articleErrors]="articleErrors$ | async"
                    [isDeletingArticle]="isDeletingArticle$ | async"
                    [canModify]="canModify$ | async"
                    [article]="article$ | async"
                    [locale]="locale$ | async"
                    (favorited)="onFavoriveToggle($event)"
                    (folowing)="onToggleFollowing($event)"
                    (delete)="onDeleteArticle($event)">
  </app-article-full>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div *appShowAuthed="false">
          <br>
          <button sigin
                  (click)="onSignIn()"
                  mat-stroked-button
                  color="primary">
            {{ 'conduit.article.siginButton' | translate }}
          </button>
          {{ 'conduit.article.authCaptionJoin' | translate }}
          <button sigup
                  (click)="onSignUp()"
                  mat-stroked-button
                  color="primary">
            {{ 'conduit.article.sigupButton' | translate }}
          </button>
          {{ 'conduit.article.authCaption' | translate }}.
        </div>

        <div>
          <app-list-error [errors]="addCommentErrors$ | async"></app-list-error>
          <app-list-error [errors]="deleteCommentErrors$ | async"></app-list-error>
          <app-comments *ngIf="(user$ | async)" [comments]="comments$ | async"
                        [reset]="needReset$ | async"
                        [locale]="locale$ | async"
                        (delete)="onDeleteComment($event)"
                        (submitComment)="onSubmitComment($event)"
                        [isSubmitting]="isCommentSaving$ | async"
                        [user]="user$ | async"
                        [loading]="isCommentLoading$ | async"></app-comments>

          <app-list-error [errors]="getCommentsErrors$ | async"></app-list-error>
        </div>
      </div>
    </div>
  </div>

</div>