.dummy-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: -4px;
}

.dummy-tags__item {
  display: inline-flex;
  align-items: center;
  height: 1px;
  min-height: 32px;
  margin: 4px;
  padding: 7px 12px;
  border-radius: 16px;
  animation: pulse 1s infinite ease-in-out;
}

.dummy-tags__item_small {
  width: 40px;
}

.dummy-tags__item_middle {
  width: 57px;
}

.dummy-tags__item_normal {
  width: 70px;
}

.dummy-tags__item_big {
  width: 84px;
}
