<div class="dummy-tags">
  <div class="dummy-tags__item dummy-tags__item_middle"></div>
  <div class="dummy-tags__item dummy-tags__item_small"></div>
  <div class="dummy-tags__item dummy-tags__item_middle"></div>
  <div class="dummy-tags__item dummy-tags__item_normal"></div>
  <div class="dummy-tags__item dummy-tags__item_small"></div>
  <div class="dummy-tags__item dummy-tags__item_middle"></div>
  <div class="dummy-tags__item dummy-tags__item_middle"></div>
  <div class="dummy-tags__item dummy-tags__item_middle"></div>
  <div class="dummy-tags__item dummy-tags__item_normal"></div>
  <div class="dummy-tags__item dummy-tags__item_normal"></div>
  <div class="dummy-tags__item dummy-tags__item_big"></div>
  <div class="dummy-tags__item dummy-tags__item_middle"></div>
  <div class="dummy-tags__item dummy-tags__item_small"></div>
  <div class="dummy-tags__item dummy-tags__item_big"></div>
  <div class="dummy-tags__item dummy-tags__item_normal"></div>
  <div class="dummy-tags__item dummy-tags__item_normal"></div>
  <div class="dummy-tags__item dummy-tags__item_middle"></div>
  <div class="dummy-tags__item dummy-tags__item_normal"></div>
  <div class="dummy-tags__item dummy-tags__item_middle"></div>
  <div class="dummy-tags__item dummy-tags__item_middle"></div>
</div>