<app-comment-form *appShowAuthed="true"
                  [user]="user"
                  [reset]="reset"
                  (submitComment)="addComment($event)"
                  [isSubmitting]="isSubmitting"></app-comment-form>

<br>
<br>
<br>

<div [hidden]="!loading"
     class="comments__loader">
  <mat-spinner></mat-spinner>
</div>

<app-comment *ngFor="let comment of comments; trackBy: trackByComment"
             [comment]="comment"
             [locale]="locale"
             [canModify]="user ? user.username === comment.author.username : false"
             (delete)="deleteComment(comment)">