<form [formGroup]="form"
      autocomplete="none"
      [appAccentOnInvalidFromField]="form"
      (ngSubmit)="submit()">
  <fieldset [disabled]="submitting">

    <mat-form-field class="input-full-width">
      <input formControlName="image"
             placeholder="URL of profile picture"
             type="text"
             matInput>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <input formControlName="username"
             placeholder="Username"
             type="text"
             autocomplete="none"
             matInput>
      <mat-error *ngIf="requiredUsername">
        Username is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="maxLengthUsernameCharsLength">
        Username is too long (maximum is <strong>{{ maxLengthUsernameCharsLength }}</strong> characters)
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <textarea formControlName="bio"
                matInput
                placeholder="Short bio about you"></textarea>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <input formControlName="email"
             placeholder="Email"
             type="email"
             matInput>
      <mat-error *ngIf="invalidEmail">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="requiredEmail">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <input formControlName="password"
             placeholder="New Password"
             type="password"
             autocomplete="none"
             matInput>
      <mat-error *ngIf="requiredPassword">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="minLengthPassword">
        Password cannot be less than <strong>{{ minLengthPasswordCharsLength }}</strong> characters
      </mat-error>
      <app-password-strength [password]="passValue$ | async"></app-password-strength>
    </mat-form-field>

    <button type="submit"
            [disabled]="submitting"
            mat-flat-button
            color="primary">Update Settings</button>

  </fieldset>
</form>