<form [formGroup]="form"
      autocomplete="none"
      [appAccentOnInvalidFromField]="form"
      (ngSubmit)="submit()">
  <fieldset [disabled]="submitting">

    <mat-form-field class="input-full-width">
      <input formControlName="image"
             placeholder="{{ 'conduit.settings.imgUrl.placeholder' | translate }}"
             type="text"
             matInput>
      <mat-error *ngIf="imageInvalidUrl"
                 [innerHTML]="'conduit.error.image.invalidUrl' | translate">
      </mat-error>
    </mat-form-field>

    <app-image-validator class="mb-3"
                         [url]="imageUrl$ | async"></app-image-validator>

    <mat-form-field class="input-full-width">
      <input formControlName="username"
             placeholder="{{ 'conduit.settings.username.placeholder' | translate }}"
             type="text"
             autocomplete="none"
             matInput>
      <mat-error *ngIf="requiredUsername"
                 [innerHTML]="'conduit.error.username.required' | translate">
      </mat-error>
      <mat-error *ngIf="maxLengthUsername"
                 [innerHTML]="'conduit.error.username.maxLengthUsername' | translate:maxLengthUsernameCharsLength">
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <textarea cdkTextareaAutosize
                cdkAutosizeMinRows="2"
                formControlName="bio"
                matInput
                placeholder="{{ 'conduit.settings.bio.placeholder' | translate }}"></textarea>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <input formControlName="email"
             placeholder="{{ 'conduit.settings.email.placeholder' | translate }}"
             type="email"
             matInput>
      <mat-error *ngIf="invalidEmail"
                 [innerHTML]="'conduit.error.email.invalidEmail' | translate">
      </mat-error>
      <mat-error *ngIf="requiredEmail"
                 [innerHTML]="'conduit.error.email.required' | translate">
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <input formControlName="password"
             placeholder="{{ 'conduit.settings.password.placeholder' | translate }}"
             type="password"
             autocomplete="none"
             matInput>
      <mat-error *ngIf="requiredPassword"
                 [innerHTML]="'conduit.error.password.required' | translate">
      </mat-error>
      <mat-error *ngIf="minLengthPassword"
                 [innerHTML]="'conduit.error.password.minLengthPassword' | translate:minLengthPasswordCharsLength">
      </mat-error>
      <app-password-strength [password]="passValue$ | async"></app-password-strength>
    </mat-form-field>

    <button type="submit"
            [disabled]="submitting"
            mat-flat-button
            color="primary">{{ 'conduit.settings.updateButton' | translate }}</button>

  </fieldset>
</form>