.banner {
    background-color: transparent;
    color: #212529;
    border-bottom: 1px solid #ccc;
}

.article-full__avatar {
    display: flex;
    overflow: hidden;
    img {
        max-width: 100%;
    }
}

mat-card {
    padding-left: 0 !important;
    padding-top: 0 !important;
    box-shadow: none !important;
}

.article-full__button-container {
    display: flex;
}

a.article-full__author {
    color: #000;
    text-decoration: none;
    &:hover {
        opacity: .8;
    }
}

.article-full__content {
    img {
        max-width: 100%;
    }
}