.article-user__avatar {
    display: flex;
    overflow: hidden;
    img {
        max-width: 100%;
    }
}

.article-user__button-container {
    display: flex;
    margin-top: 20px;
}

a.article-user__author {
    color: #000;
    text-decoration: none;
    &:hover {
        opacity: .8;
    }
}

.article-user__btn {
    margin-top: 20px;
}