<div class="banner">
  <div class="container">
    <h1>{{ article.title }}</h1>
    <h3>{{ article.description }}</h3>

    <br>
    <app-article-user [article]="article"
                      [canModify]="canModify"
                      [locale]="locale"
                      [isDeletingArticle]="isDeletingArticle"
                      (folowing)="onToggleFollowing($event)"
                      (favorited)="onFavoriveToggle()"
                      (delete)="onDeleteArticle()"></app-article-user>

    <app-list-error [errors]="articleErrors"></app-list-error>
  </div>

</div>
<!-- article body -->
<div class="container">
  <div class="row article-full__content">
    <div class="col-md-12">
      <br>
      <br>
      <app-article-body [body]="article.body"></app-article-body>

      <app-tag-list [tagList]="article.tagList"></app-tag-list>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br>
      <br>
      <app-article-user [article]="article"
                        [canModify]="canModify"
                        [locale]="locale"
                        [isDeletingArticle]="isDeletingArticle"
                        (folowing)="onToggleFollowing($event)"
                        (favorited)="onFavoriveToggle()"
                        (delete)="onDeleteArticle()"></app-article-user>

      <app-list-error [errors]="articleErrors"></app-list-error>
    </div>
  </div>
</div>

<hr />