.user-info {
  padding-top: 50px;
  @media (max-width: 768px) {
    padding-top: 70px;
  }
  @media (max-width: 590px) {
    padding-top: 60px;
  }
  @media (max-width: 575px) {
    padding-top: 30px;
  }
}

.user-info__avatar {
  display: flex;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}
