.user-info {
    padding-top: 50px;
    @media (max-width: 768px) {
        padding: 30px 0;
    }
}

.user-info__avatar {
    display: flex;
    overflow: hidden;
    img {
        max-width: 100%;
    }
}