<div [class]="'theme-wrapper ' + (effectiveTheme$ | async)"
     [ngClass]="{'sticky-header': (stickyHeader$ | async)}">
  <mat-sidenav-container>
    <mat-sidenav [opened]="sideNavOpen$ | async"
                 (closed)="onCloseSideNave()"
                 [mode]="asideOpenMode$ | async">
      <app-aside *ngIf="(settings$ | async)"
                 [theme]="theme$ | async"
                 [themes]="themes$ | async"
                 [stickyHeader]="stickyHeader$ | async"
                 [routeAnimationsEnabled]="routeAnimationsEnabled$ | async"
                 [asideOpenMode]="asideOpenMode$ | async"
                 [asideOpenModes]="asideOpenModes$ | async"
                 [autoNightMode]="autoNightMode$ | async"
                 [autoNightModeFrom]="autoNightModeFrom$ | async"
                 [autoNightModeTo]="autoNightModeTo$ | async"
                 [routeAnimateonsChangeType]="routeAnimateonsChangeType$ | async"
                 [routeAnimateonsChangeTypes]="routeAnimateonsChangeTypes$ | async"
                 (changeRouteAnimationsType)="onChangeRouteAnimationsType($event)"
                 (changeStickyHeader)="onChangeStickyHeader($event)"
                 (changeAsideOpenMode)="onChangeAsideOpenMode($event)"
                 (changeAutoNightMode)="onChangeAutoNightMode($event)"
                 (changeAutoNightModeFrom)="onChangeAutoNightModeFrom($event)"
                 (changeAutoNightModeTo)="onCangeAutoNightModeTo($event)"
                 (changeRouteAnimationsEnable)="onChangeRouteAnimationsEnable($event)"
                 (changeTheme)="onChangeTheme($event)"></app-aside>
    </mat-sidenav>
    <mat-sidenav-content>

      <div class="layout">
        <div class="main">
          <div class="main-content">
            <app-header [user]="user$ | async"
                        [loggedIn]="loggedIn$ | async"
                        [showLoader]="showMailLoader$ | async"
                        [languages]="languages$ | async"
                        [language]="language$ | async"
                        (changeLanguage)="onChangeLanguage($event)"
                        (toggleSideNave)="onToggleSideNave()"></app-header>

            <div [@routeAnimation]="prepRouteState(routerOutlet)">
              <router-outlet #routerOutlet="outlet"></router-outlet>
            </div>
          </div>

          <app-footer></app-footer>
        </div>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>