.page {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    font-family: "Courier new";
    font-size: 18px;
    line-height: 1.5em;
    background: #081421;
    color: #d3d7de;
}

.code-area > span {
    display: block;
}

a {
	color: #fff;
}