<form [formGroup]="form"
      [appAccentOnInvalidFromField]="form"
      (ngSubmit)="submit()">
  <fieldset [disabled]="submitting">

    <mat-form-field class="input-full-width">
      <input formControlName="title"
             type="text"
             matInput
             placeholder="{{ 'conduit.editor.aritcle.title.placeholder' | translate }}">
      <mat-error *ngIf="requiredTitle"
                 [innerHTML]="'conduit.error.aritcle.title.required' | translate">
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <input formControlName="description"
             type="text"
             matInput
             placeholder="{{ 'conduit.editor.aritcle.desc.placeholder' | translate }}?">
      <mat-error *ngIf="requiredDescription"
                 [innerHTML]="'conduit.error.aritcle.desc.required' | translate">
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <textarea formControlName="body"
                matInput
                rows="8"
                placeholder="{{ 'conduit.editor.aritcle.body.placeholder' | translate }}"></textarea>
      <mat-error *ngIf="requiredBody"
                 [innerHTML]="'conduit.error.aritcle.body.required' | translate">
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of tags"
                  [selectable]="tagConfig.selectable"
                  [removable]="tagConfig.removable"
                  (removed)="removeTag(tag)">
          {{tag.name}}
          <mat-icon matChipRemove
                    *ngIf="tagConfig.removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="{{ 'conduit.editor.aritcle.tags.placeholder' | translate }}"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="tagConfig.addOnBlur"
               (matChipInputTokenEnd)="addTag($event)">
      </mat-chip-list>
    </mat-form-field>

    <button mat-flat-button
            [disabled]="submitting"
            type="submit"
            color="primary">{{ 'conduit.editor.aritcle.publishButton' | translate }}</button>
  </fieldset>
</form>