<form [formGroup]="form"
      [appAccentOnInvalidFromField]="form"
      (ngSubmit)="submit()">
  <fieldset [disabled]="submitting">

    <mat-form-field class="input-full-width">
      <input formControlName="title"
             type="text"
             matInput
             placeholder="Article Title">
      <mat-error *ngIf="requiredTitle">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <input formControlName="description"
             type="text"
             matInput
             placeholder="What's this article about?">
      <mat-error *ngIf="requiredDescription">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <textarea formControlName="body"
                matInput
                rows="8"
                placeholder="Write your article (in markdown)"></textarea>
      <mat-error *ngIf="requiredBody">
        Body is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of tags"
                  [selectable]="tagaConfig.selectable"
                  [removable]="tagaConfig.removable"
                  (removed)="removeTag(tag)">
          {{tag.name}}
          <mat-icon matChipRemove
                    *ngIf="tagaConfig.removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Enter tags"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="tagaConfig.addOnBlur"
               (matChipInputTokenEnd)="addTag($event)">
      </mat-chip-list>
    </mat-form-field>

    <button mat-flat-button
            [disabled]="submitting"
            type="submit"
            color="primary">Publish Article</button>
  </fieldset>
</form>