<div class="profile-page">

  <app-user-info (folowing)="onFolowing($event)"
                 [isUser]="isUser$ | async"
                 [profile]="profile$ | async"></app-user-info>

  <div class="content">

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <app-content-tabs [type]="type$ | async"
                            [tabs]="tabs$ | async"
                            (selectedType)="onSelectedType($event)">
          </app-content-tabs>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <div class="articles">
            <app-articles-list [isLoading]="loadingArticles$ | async"
                               [locale]="locale$ | async"
                               [contentLength]="limit$ | async"
                               [isErrorLoading]="errorLoadingArticles$ | async"
                               (favorited)="onFavorited($event)"
                               [articlesList]="atricles$ | async"></app-articles-list>
          </div>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <mat-paginator [hidden]="(articlesCount$ | async) < 1 || (loadingArticles$ | async)"
                         [length]="articlesCount$ | async"
                         (page)="onPageChange($event)"
                         [pageSize]="limit$ | async"
                         [pageIndex]="pageIndex$ | async"
                         [showFirstLastButtons]="true"
                         [pageSizeOptions]="pageSizeOptions">
          </mat-paginator>
        </div>
      </div>
      <div class="pagination">
      </div>
    </div>
  </div>