<div class="settings-page page">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">

        <h1 class="text-xs-center">Settings</h1>

        <app-list-error [errors]="errors$ | async"></app-list-error>

        <app-settings-form *ngIf="(user$ | async)"
                           [isSubmitting]="isUpdating$ | async"
                           (updateUser)="onUpdateUser($event)"
                           [user]="user$ | async"></app-settings-form>

        <div class="d-flex justify-content-center mt-5">
          <mat-spinner *ngIf="!(user$ | async)"></mat-spinner>
        </div>

        <div *ngIf="(user$ | async)">
          <hr />
          <button (click)="logout()"
                  mat-stroked-button
                  color="primary">Click here to logout</button>
        </div>
        <br>
        <br>

      </div>
    </div>
  </div>
</div>