.tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 3px;
}

.tag-list__tag {
  font-size: 10px;
  padding: 1px 5px;
  border-radius: 41px;
  display: inline-block;
  vertical-align: baseline;
  margin-left: 5px;
  margin-bottom: 5px;
}
