.footer {
    position: relative;
    .mat-toolbar-single-row {
        height: auto !important;
        min-height: 64px;
    }
}

a.footer__title {
    margin-right: 20px;
    text-decoration: none;
}

.footer__attribution {
    font-size: 12px;

    @media (max-width: 599px) {
        display: block;
    }
}