<form [formGroup]="form"
      [appAccentOnInvalidFromField]="form"
      (ngSubmit)="submit()">

  <mat-form-field *ngIf="authType === 'register'"
                  class="input-full-width">
    <input matInput
           formControlName="username"
           placeholder="Username"
           autocomplete="on"
           type="text">
    <mat-error *ngIf="requiredUsername">
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <input matInput
           formControlName="email"
           placeholder="Email"
           type="text">
    <mat-error *ngIf="invalidEmail">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="requiredEmail">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <input matInput
           formControlName="password"
           placeholder="Password"
           [attr.autocomplete]="authType === 'register' ? 'new-password': 'on'"
           type="password">
    <mat-error *ngIf="requiredPassword">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="minLengthPassword">
      Password cannot be less than <strong>{{ minLengthPasswordCharsLength }}</strong> characters
    </mat-error>
    <app-password-strength *ngIf="authType === 'register'"
                           [password]="$passValue | async"></app-password-strength>
  </mat-form-field>
  
  <br>
  <br>
  <button type="submit"
          [disabled]="submitting"
          mat-flat-button
          color="primary">Login</button>
  <br>
  <br>

</form>