<aside>
  <div class="aside__group">

    <h5>{{ 'conduit.menu.general.title' | translate }}</h5>
    <div class="icon-form-field">
      <mat-icon color="primary"
                aria-label="menu">menu</mat-icon>
      <mat-placeholder>{{ 'conduit.menu.general.stickyHeaderTitle' | translate }}</mat-placeholder>
      <mat-slide-toggle [checked]="stickyHeader"
                        (change)="onStickyHeaderToggle($event)">
      </mat-slide-toggle>
    </div>
    <div class="icon-form-field icon-form-field_select ">
      <mat-icon color="primary"
                aria-label="repeat">repeat</mat-icon>
      <mat-form-field class="input-full-width">
        <mat-select [ngModel]="asideOpenMode"
                    placeholder="{{ 'conduit.menu.general.asideOpenModeTitle' | translate }}"
                    (selectionChange)="onChangeAsideOpenMode($event)">
          <mat-option *ngFor="let m of asideOpenModes"
                      [value]="m.value">
            {{m.viewValue | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="aside__group">
    <h5>{{ 'conduit.menu.theme.title' | translate }}</h5>
    <div class="icon-form-field icon-form-field_select ">
      <mat-icon color="primary"
                aria-label="invert_colors">invert_colors</mat-icon>
      <mat-form-field class="input-full-width">
        <mat-select [ngModel]="theme"
                    placeholder="{{ 'conduit.menu.theme.themeCahngeTitle' | translate }}"
                    (selectionChange)="onChangeTheme($event)">
          <mat-option *ngFor="let t of themes"
                      [value]="t.value">
            <div class="color-view">
              <div class="color-view__label">{{t.viewValue | translate}}</div>
              <span [style.background-color]="t.color"
                    class="color-view__color"></span>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="icon-form-field">
      <mat-icon color="primary"
                aria-label="brightness_medium">brightness_medium</mat-icon>
      <mat-placeholder>
        <div [innerHTML]="'conduit.menu.theme.autoNightModeTitle' | translate"></div>
      </mat-placeholder>
      <mat-slide-toggle [checked]="autoNightMode"
                        (change)="onChangeAutoNightMode($event)">
      </mat-slide-toggle>
    </div>
    <div class="icon-form-field  icon-form-field_nested">
      <mat-icon color="primary"
                aria-label="timer">timer</mat-icon>
      <mat-placeholder>
        {{ 'conduit.menu.theme.autoNightModeTitle.from' | translate}}
      </mat-placeholder>
      <input class="timepicker-input"
             [value]="autoNightModeFrom"
             aria-label="from time"
             [ngxTimepicker]="fromTime"
             [format]="24"
             readonly>
      <ngx-material-timepicker (timeSet)="onChangeAutoNightModeFrom($event)"
                               #fromTime></ngx-material-timepicker>
    </div>
    <div class="icon-form-field  icon-form-field_nested">
      <mat-icon color="primary"
                aria-label="timer_off">timer_off</mat-icon>
      <mat-placeholder>
        {{ 'conduit.menu.theme.autoNightModeTitle.to' | translate}}
      </mat-placeholder>
      <input class="timepicker-input"
             [value]="autoNightModeTo"
             aria-label="to time"
             [ngxTimepicker]="toTime"
             [format]="24"
             readonly>
      <ngx-material-timepicker (timeSet)="oncangeAutoNightModeTo($event)"
                               #toTime></ngx-material-timepicker>
    </div>
  </div>
</aside>