<header  class="header">

   <mat-toolbar color="primary">
      <button mat-icon-button
              class=""
              (click)="onToggleSideNave()">
         <mat-icon aria-label="view_headline">view_headline</mat-icon>
      </button>
      <span class="header__main">
         <a routerLink="/"
            class="logo">{{ 'conduit.logo' | translate }}</a>
      </span>
      <span @flyInOut *ngIf="!loggedIn"
            class="d-none d-md-block">
         <a routerLink="/"
            routerLinkActive="mat-accent"
            [routerLinkActiveOptions]="{ exact: true }"
            mat-button>{{ 'conduit.menu.home' | translate }}</a>
         <a routerLink="/login"
            routerLinkActive="mat-accent"
            mat-button>{{ 'conduit.menu.login' | translate }}</a>
         <a routerLink="/register"
            routerLinkActive="mat-accent"
            mat-button>{{ 'conduit.menu.register' | translate }}</a>
      </span>
      <span @flyInOut *ngIf="loggedIn && user"
            class="d-none d-md-block">
         <a routerLink="/"
            routerLinkActive="mat-accent"
            [routerLinkActiveOptions]="{ exact: true }"
            mat-button>{{ 'conduit.menu.home' | translate }}</a>
         <a routerLink="/editor"
            routerLinkActive="mat-accent"
            [routerLinkActiveOptions]="{ exact: true }"
            mat-button>{{ 'conduit.menu.newarticle' | translate }}</a>
         <a routerLink="/settings"
            routerLinkActive="mat-accent"
            mat-button>{{ 'conduit.menu.settings' | translate }}</a>
         <a [routerLink]="['/profile', user.username]"
            routerLinkActive="mat-accent"
            mat-button>{{ user.username }}</a>

      </span>
      <span class="header_lang d-block d-md-none mr-2">
         <mat-select [ngModel]="language"
                     (selectionChange)="onLanguageSelect($event)">
            <mat-option [value]="l.value"
                        *ngFor="let l of languages">
               {{ l.viewValue.toUpperCase() }}
            </mat-option>
         </mat-select>
      </span>
      <div @avatarInOut *ngIf="loggedIn && user"
           class="header__avatar">
         <a [routerLink]="['/profile', user.username]">
            <img appAvatar="true"
                 [src]="user.image"
                 [attr.alt]="user.username">
         </a>
      </div>
      <span class="header_lang d-none d-md-block ">
         <mat-select [ngModel]="language"
                     (selectionChange)="onLanguageSelect($event)">
            <mat-option [value]="l.value"
                        *ngFor="let l of languages">
               {{ l.viewValue.toUpperCase() }}
            </mat-option>
         </mat-select>
      </span>
   </mat-toolbar>

   <div class="d-block d-md-none header__mobile">
      <mat-toolbar color="primary">
         <span *ngIf="!loggedIn"
               class="header__menu-wrap">
            <div class="header__menu-links">
               <a routerLink="/"
                  routerLinkActive="mat-accent"
                  [routerLinkActiveOptions]="{ exact: true }"
                  mat-button>{{ 'conduit.menu.home' | translate }}</a>
               <a routerLink="/login"
                  routerLinkActive="mat-accent"
                  mat-button>{{ 'conduit.menu.login' | translate }}</a>
               <a routerLink="/register"
                  routerLinkActive="mat-accent"
                  mat-button>{{ 'conduit.menu.register' | translate }}</a>
            </div>
         </span>
         <span *ngIf="(loggedIn && user)"
               class="header__menu-wrap">
            <div class="header__menu-links">
               <a routerLink="/"
                  routerLinkActive="mat-accent"
                  [routerLinkActiveOptions]="{ exact: true }"
                  mat-button>{{ 'conduit.menu.home' | translate }}</a>
               <a routerLink="/editor"
                  routerLinkActive="mat-accent"
                  mat-button>{{ 'conduit.menu.newarticle' | translate }}</a>
               <a routerLink="/settings"
                  routerLinkActive="mat-accent"
                  mat-button>{{ 'conduit.menu.settings' | translate }}</a>
               <a [routerLink]="['/profile', user.username]"
                  routerLinkActive="mat-accent"
                  mat-button>{{ user.username }}</a>
            </div>
         </span>
      </mat-toolbar>
   </div>
   <mat-progress-bar [hidden]="!showLoader"
                     class="app-preloader"
                     mode="indeterminate"></mat-progress-bar>
</header>